.servicios h2{
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
}

.destinos h2 {
    margin-top: auto;
    font-size: 32px;
    text-align: center;
}

.viaje-info {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 40px; 
    padding: 0 20px; 
}

.viaje-info img {
    width: 100%;
    max-width: 550px; 
    border-radius: 10px;
}

.viaje-info .descripcion {
    flex: 1;
    text-align: justify; 
    margin: 0 50px; 
}

.servicio-1 {
    flex-direction: row; 
}

.servicio-2 {
    flex-direction: row-reverse; 
}

.viaje-info .descripcion h4 {
    font-size: 25px;
    line-height: 1.5;
    color: #333;
}

.viaje-info .descripcion p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.viaje-info .descripcion p strong {
    color: black; 
}

.viaje-info .descripcion ul {
    list-style: none; 
    padding: 0; 
}

.viaje-info .descripcion ul li {
    margin-bottom: 10px; 
}

/* Estilos específicos de la primera sección de servicios */
.viaje-info.servicio-1 {
    background-image: url('../img/fondo2.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 10px; 
    padding: 40px; 
}

.viaje-info.servicio-1 img {
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    margin-left: 20px; 
}

.viaje-info.servicio-1 .descripcion {
    flex: 1;
    text-align: justify;
}

.viaje-info.servicio-1 h4 {
    font-size: 30px;
    line-height: 1.5;
    color: #000000; 
}

.viaje-info.servicio-1 p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff; 
}

.viaje-info.servicio-1 p strong {
    color: #253b6c; 
}

/* Estilos específicos de la segunda sección de servicios */
.viaje-info.servicio-2 {
    background-image: url('../img/fondo3.png'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    border: 1px solid #cccccc;
    border-radius: 10px; 
    padding: 40px; 
}

.viaje-info.servicio-2 img {
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    margin-right: 20px; 
}

.viaje-info.servicio-2 .descripcion {
    flex: 1;
    text-align: justify;
}

.viaje-info.servicio-2 h4 {
    font-size: 30px;
    line-height: 1.5;
    color: #000000; 
}

.viaje-info.servicio-2 p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.viaje-info.servicio-2 p strong {
    color: #434343; 
}

/* Estilos específicos para el carousel */
.destinos {
    position: relative;
    text-align: center; 
}

.images {
    width: 1200px;
    height: 380px;
    margin: 0 auto; 
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide h3 {
    position: absolute;
    left: 20px;
    bottom: -35px;
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #000000; /* Agrega un relieve negro */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.rows {
    width: 170px;
    margin: 0 auto; 
    position: relative;
    bottom: -25px; 
    margin-bottom: 30px;
}

.swiper-button-prev,
.swiper-button-next {
    height: 50px;
    width: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 50px; /* Mantén el valor de izquierda al 50% para centrar horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
}

.swiper-button-next {
    right: 50px; /* Mantén el valor de derecha al 50% para centrar horizontalmente */
    transform: translateX(50%); /* Centra horizontalmente */
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 25px;
    color: #000000;
}